/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f5f9;
}

/* Main Layout */

.container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 25px;
}