

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.navbar h2 {
    font-size: 32px;
    color: #111827;
}

.navbar-subtitle {
    margin-top: 6px;
    color: #6b7280;
    font-size: 15px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Notification Button */

.notification-btn {
    position: relative;
    width: 48px;
    height: 48px;
    border: none;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #374151;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .3s;
}

.notification-btn:hover {
    transform: translateY(-2px);
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    background: #ef4444;
    color: white;
    border-radius: 50%;
    font-size: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile */

.profile-info {
    display: flex;
    align-items: center;
    gap: 12px;

    background: white;
    padding: 10px 18px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.profile-icon {
    font-size: 42px;
    color: #2563eb;
}

.profile-info h4 {
    color: #111827;
    margin-bottom: 2px;
}

.profile-info p {
    color: #6b7280;
    font-size: 13px;
}